@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @using (Html.BeginForm("Index", "Regex", FormMethod.Post))
        {
            @Html.TextBox("tbxEmail", null, new { style = "width:300px" })
            <input type="submit" value="Check" />
        }
        <span>@ViewData["result"]</span><br />
        <span>@ViewData["duration"]</span>
    </div>
</body>
</html>
