<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title></title>
</head>
<body>
  <h1>MVC encoding test</h1>
    <p>@(((_2_XSS.Controllers.ParameterModel)ViewData["p"]).value)</p>
    <p>@Html.Raw(((_2_XSS.Controllers.ParameterModel)ViewData["p"]).value)</p>
</body>
</html>
