@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @using (Html.BeginForm("Index", "Nslookup", FormMethod.Post))
        {
            @Html.TextBox("tbxDomain", null, new { style = "width:300px" })
            <input type="submit" value="nslookup" />
        }
        <br />
        <span>@Html.Raw(@ViewData["result"])</span>
    </div>
</body>
</html>
