<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title></title>
</head>
<body>
  <h1>MVC encoding test</h1>
  <p>@("<i>Lager</i>")</p>
  <p>@Html.Label("<i>Lager</i>")</p>
  <p>@Html.Raw("<i>Lager</i>")</p>
</body>
</html>
