<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <!--<services xdt:Transform="Replace" xdt:Locator="XPath(/configuration/system.serviceModel/services)">
    <service name="WcfSimpleTokenExample.Services.AuthenticationTokenService" behaviorConfiguration="ServiceBehaviorHttps" >
      --><!-- HTTPS --><!--
      <endpoint address="" behaviorConfiguration="AjaxEnabledBehavior" binding="webHttpBinding" bindingConfiguration="webHttpsBinding" contract="WcfSimpleTokenExample.Services.AuthenticationTokenService" name="httpsAuthenticationTokenService"/>
    </service>
    <service name="WcfSimpleTokenExample.Services.Test1Service" behaviorConfiguration="ServiceBehaviorHttps" >
      --><!-- HTTPS --><!--
      <endpoint address="" behaviorConfiguration="AjaxEnabledBehavior" binding="webHttpBinding" bindingConfiguration="webHttpsBinding" contract="WcfSimpleTokenExample.Services.Test1Service" name="httpsAuthenticationTokenService"/>
    </service>
  </services>
  <bindings xdt:Transform="Replace" xdt:Locator="XPath(/configuration/system.serviceModel/bindings)">
    <webHttpBinding>
      <binding name="webHttpsBinding">
        <security mode="Transport">
          <transport clientCredentialType ="None"/>
        </security>
      </binding>
    </webHttpBinding>
  </bindings>
  <serviceBehaviors xdt:Transform="Replace" xdt:Locator="XPath(/configuration/system.serviceModel/bindings)">
    <behavior name="ServiceBehaviorHttps">
      <serviceMetadata httpGetEnabled="false" httpsGetEnabled="true" />
      <serviceDebug includeExceptionDetailInFaults="true" />
    </behavior>
  </serviceBehaviors>-->
</configuration>